@media(max-width:600px){
    body{
        flex-direction: column;
        align-items: center;
    }
}
.head {
    height: 100px;
    background-color: rgb(58, 57, 55);
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: none;
}
.head-sub{
    color: white;
    text-decoration: none;
}
.head-sub:hover{
    color: orange;
}
a {
    margin-right: 200px;
}

#logo {
    font-size: 60px;
    color: rgb(247, 167, 7);
    text-decoration: none;
}

#b1 {
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 100%;
    background-color: blue;
    background-image:url("gadget.jpg");
    background-size: cover;

}#b2 {
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 100%;
    background-image:url("luxury.jpg");
    background-color: blue;
    background-size: cover;


}#b3 {
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 100%;
    background-size: cover;
    background-image:url("fresh.jpg");
    background-color: blue;

}#b4 {
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 100%;
    background-image:url("fashion.jpg");
    background-size: cover;
    background-color: blue;

}#b5 {
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 100%;
    background-size: cover;
    background-image:url("sports.jpg");
    background-color: blue;

}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
#note{
    text-align: center;
    font-size: 25px;
    background-color: rgb(159, 158, 156);
    margin:auto;

}
h3{
    font-size: 50px;
    margin-left: 20px;
}
#d1{
    height: 300px;
    width: 90%;
    position: relative;
    left: 5%;
    background-color: rgb(239, 93, 9);
    border-radius: 10px;
    padding: 10px;
}
#di1{
    position: absolute;
    left: 55%;
    bottom: 60%;
    height: 30px;
    width: 20px;
    border-radius: 100%;
}
#di2{
    position: absolute;
    left: 70%;
    bottom: 70%;
    height: 30px;
    width: 20px;
    border-radius: 100%;
}
#di3{
    position: absolute;
    left: 85%;
    bottom: 60%;
    height: 30px;
    width: 20px;
    border-radius: 100%;
}

#vbtn{
    background-color: rgb(251, 251, 251); 
    margin-left:120px;
    margin-top: 10px; 
    font-size:x-large; 
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
#vbtn:hover{
    background-color: rgb(11, 8, 3);
    color: white;
}
.product1{
    background-image: url("laptop.jpg"); 
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
}
.sec-title {
    font-size: 40px;
    margin-left: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 20px;
}

.product-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: darkorange;
    color: white;
}
.footer{
    text-align: center;
    margin: 25px;
    font-size: 18px;
    font-size: larger;
    font-weight: bold;
}
p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.title{
    border: 2px solid black;
    border-radius:20px;
    margin-top: 40px;
}
.title:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}